{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>{% block title%}
			{%endblock%}
	</title>

	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="{% static 'accounts/css/materialize.min.css' %}">
 <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
 <nav class="nav-extended cyan darken-1">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo center">Chatty</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      
    </div>
    <div class="nav-content">
        <div class="container">
      <ul class="tabs tabs-transparent hide-on-med-and-down">
        <li class="tab"><a class="active" href="{% url 'accounts:index'%}">Home</a></li>
        <li class="tab"><a href="{% url 'chat:show_all_messages' %}">Messages</a></li>
        <li class="tab"><a href="#">Profile</a></li>
        <li class="tab"><a href="{% url 'accounts:all_users'%}">All users</a></li>
        <li class="tab"><a href="{% url 'accounts:show_sent' %}">Sent Requests</a></li>
        <li class="tab"><a href="{% url 'accounts:show_recieve'%}">Recieved Requests</a></li>
      </ul>
  </div>
    </div>
  </nav>

    <ul class="sidenav" id="mobile-demo">
        <div class="user-view">
            <div class="background">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQVGDJxR7DDpbdvIy3Yn9GHGGi8w0Ceux_LQnAQcSnLUV5cV_1o">
            </div>
            <a href="#"><img src="https://img.icons8.com/color/1600/circled-user-male-skin-type-1-2.png" class="circle"></a>
            <a href="#"><span class="white-text name">Binish Manandhar</span></a>
            <a href="#"><span class="white-text email">binish784@hotmail.com</span></a>
        </div>
        <li class="tab"><a class="active" href="{% url 'accounts:index'%}">Home</a></li>
        <li class="tab"><a href="#">Messages</a></li>
        <li class="tab"><a href="#">Profile</a></li>
        <li class="tab"><a href="{% url 'accounts:all_users'%}">All users</a></li>
        <li class="tab"><a href="{% url 'accounts:show_sent' %}">Sent Requests</a></li>
        <li class="tab"><a href="{% url 'accounts:show_recieve'%}">Recieved Requests</a></li>
    </ul>
<br><br>

<div class="container">
    {% block content%}

    {% endblock%}
</div>

    <!-- Compiled and minified JavaScript -->

<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script></script>
    <script type="text/javascript" src="{% static 'accounts/js/materialize.min.js' %}"></script>
	
<script type="text/javascript">
      $(document).ready(function(){
        $('.sidenav').sidenav();
      });   
</script>

{% block script%}

{% endblock%}

</body>
</html>