{% extends 'accounts/base.html' %}

{% block title %}
	Home-Page
{% endblock %}

{% block content %}
	<br><br>Welcome-to-my-homepage &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="{% url 'accounts:logout' %}">Logout</a>
	<br><br>

	
<br><br>
	Connected to : <br><br>

	{% if friends %}
		{% for friend in friends %}
			<a href="{% url 'accounts:user_profile' friend.id %}">{{friend}}</a> &nbsp;&nbsp;&nbsp;&nbsp;<a href="{% url 'chat:show_message' friend.id%}"> Send Message</a><br>
		{% endfor %}
	{% else %}
		You are not connected to anyone
	{% endif %}

{% endblock %}